.img-card-login {
  background-image: url("../../../public/assets/img/img-card-login.jpg");
  background-size: cover;
  background-position: top center;
}

.login {
  margin-top: 20px;
  /* margin-bottom: 10px; */
}
